* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(240, 236, 236);
}

.filter .filter-container {
    width: 350px;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.filter .filter-container .filter-row {
    display: flex;
    flex-direction: column;
}

.filter .filter-container .filter-row .filter-header {
    background: rebeccapurple;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.filter .filter-container .filter-row .filter-user {
    height: fit-content;
    max-height: 500px;
    overflow: auto;
}

.filter .filter-container .filter-row .filter-user .filter-flex {
    display: flex;
    align-items: center;
    padding-left: 25px;
    border-bottom: 1px solid rgba(149, 157, 165, 0.2);
    padding: 18px 25px;
}

.filter .filter-container .filter-row .filter-user .filter-flex:last-child {
    margin-bottom: 0;
}

.filter .filter-container .filter-row .filter-user .filter-flex .filter-column {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.filter .filter-container .filter-row .filter-user .filter-flex .filter-column .name {
    font-weight: bold;
    font-size: 19px;
}

.filter .filter-container .filter-row .filter-user .filter-flex .filter-column .location {
    font-size: 17px;
    margin-top: 5px;
}

.filter .filter-container .filter-row .filter-user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.filter .filter-container .filter-row .filter-header p {
    margin: 10px 0;
}

.filter .filter-container .filter-row .filter-header p,
h3 {
    font-size: 20px;
}

.filter .filter-container .filter-row .filter-header #search {
    border: 1px solid #000;
    border-radius: 100px;
    width: 300px;
    padding: 10px;
    color: #000;
}