* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: sans-serif;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #000;
}

nav ul li .link.active {
    border-bottom: 2px solid rebeccapurple;
}